<div class="top">
	<div class="left">
		<div class="online"><a href="javascripe:;">在线咨询</a></div>
		<div class="sub"><a href="javascript:;">订阅品牌咨询</a></div>
		<div class="gift"><a href="javascript:;">限时礼遇</a></div>
	</div>
	<div class="right">
		<div class="send"><a href="javascript:;">免费递送与退换</a></div>
		<div class="address"><a href="javascript:;">专柜导航</a></div>
	</div>
</div>
<div class="center">
	<div class="link">
		<dl class="about">
			<dt>关于雅诗兰黛</dt>
			<dd><a href="javascript:;">品牌故事</a></dd>
			<dd><a href="javascript:;">公司信息</a></dd>
		</dl>
		<dl class="offer_help">
			<dt>提供帮助</dt>
			<dd><a href="javascript:;">美丽咨询</a></dd>
			<dd>订购客服热线</dd>
			<dd>400-820-70000(9:00-23:00)</dd>
			<dd>积分及权益咨询热线</dd>
			<dd>400-820-8976</dd>
		</dl>
		<dl class="service">
			<dt>客户服务</dt>
			<dd><a href="javascript:;">退换货问题</a></dd>
			<dd><a href="javascript:;">查看我的订单</a></dd>
			<dd><a href="javascript:;">常见问题</a></dd>
			<dd><a href="javascript:;">配送信息</a></dd>
			<dd><a href="javascript:;">更多</a></dd>
		</dl>
		<dl class="find_us">
			<dt>找到我们</dt>
			<dd><a href="javascript:;" class="counter_nav">专柜导航</a></dd>
			<dd><a href="javascript:;" class="weibo"></a><a href="javascript:;" class="wechat"></a></dd>
		</dl>
	</div>
	<div class="article">
		<h3>订阅电子期刊</h3>
			<input type="text" value="SAMPLE@EMAIL.CC">
			<a href="javascript:;">立即订阅</a>
	</div>
</div>
<div class="bottom">
	<ul>
		<li><a href="javascript:;">隐私条款</a></li>
		<li><a href="javascript:;">条件条款</a></li>
		<li><span>© 雅诗兰黛(上海)商贸有限公司版权所有。 沪ICP备08005263号</span><a href="javascript:;"></a></li>
	</ul>
</div>
