<div id="header">
	<div id="top">
		<div id="logo">
			<a href="javascript:;"></a>
		</div>
		<div class = "wrap">
			<div class="login">
				<a href="javascript:;" id="loginBtn">登录</a>
				<a href="javascript:;" id="user_name" style="display: none;">
					<span id="welcom">
						欢迎您
					</span>
					<i id="user-name"></i>
				</a>
				<a href="javascript:;" id="exit" style="display: none;">退出</a>
			</div>
			<div class="car">
				<a href="/html/cart.html"></a>
			</div>
			<div class="search">
				<a href="javascript:;"></a>
			</div>
		</div>
	</div>
	<div id="booNavigation" class="booNavigation">
		<ul class="pro_List">
			<li><a href="/">首页</a></li>
			
			<li class="navItem">
				<a href="javascript:;">护肤</a>
				
				<ul class="navContent">
                    <li>
                        <ul>
                            <li><a href="javascript:;">明星系列</a><li/>
                            <li><a href="javascript:;">明星小棕瓶系列</a><li/>
                            <li><a href="javascript:;">多效智妍系列</a><li/>
                            <li><a href="javascript:;">晶透沁白系列</a><li/>
                            <li><a href="javascript:;">弹性紧实系列</a><li/>
                            <li><a href="javascript:;">高纯深海藻系列</a><li/>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a href="javascript:;">产品类型</a><li/>
                            <li><a href="javascript:;">卸妆清洁调理</a><li/>
                            <li><a href="javascript:;">防晒隔离</a><li/>
                            <li><a href="javascript:;">精华水</a><li/>
                            <li><a href="javascript:;">修护精华</a><li/>
                            <li><a href="javascript:;">眼部护理</a><li/>
                            <li><a href="javascript:;">滋润面霜</a><li/>
                            <li><a href="javascript:;">晚霜</a><li/>
                            <li><a href="javascript:;">面霜</a><li/>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a href="javascript:;">美肤方案</a><li/>
                            <li><a href="javascript:;">健康鲜活亮采</a><li/>
                            <li><a href="javascript:;">深度保湿</a><li/>
                            <li><a href="javascript:;">细致平滑/收缩毛孔</a><li/>
                            <li><a href="javascript:;">轻熟肌 细纹/幼纹</a><li/>
                            <li><a href="javascript:;">熟龄肌 松弛皱纹显现</a><li/>
                            <li><a href="javascript:;">淡斑祛黄美白</a><li/>
                        </ul>
                    </li>
                </ul>
			</li>
			<li class="navItem">
				<a href="javascript:;">彩妆</a>
				<ul class="navContent">
                    <li>
                        <ul>
                            <li><a href="javascript:;">面部</a><li/>
                            <li><a href="javascript:;">妆前乳/粉底液</a><li/>
                            <li><a href="javascript:;">气垫</a><li/>
                            <li><a href="javascript:;">粉饼</a><li/>
                            <li><a href="javascript:;">遮瑕膏</a><li/>
                            <li><a href="javascript:;">腮红</a><li/>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a href="javascript:;">眼部</a><li/>
                            <li><a href="javascript:;">眼影</a><li/>
                            <li><a href="javascript:;">睫毛膏</a><li/>
                            <li><a href="javascript:;">眼线笔/液</a><li/>
                            <li><a href="javascript:;">眉笔</a><li/>                  
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a href="javascript:;">唇部</a><li/>
                            <li><a href="javascript:;">唇膏</a><li/>
                            <li><a href="javascript:;">唇彩&唇釉</a><li/>
                            <li><a href="javascript:;">唇彩笔</a><li/>
                            
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li><a href="javascript:;">产品系列</a><li/>
                            <li><a href="javascript:;">持久无暇系列</a><li/>
                            <li><a href="javascript:;">倾慕系列</a><li/>
                            <li><a href="javascript:;">花漾系列</a><li/>  
                        </ul>
                    </li>
                </ul>
			</li>
			<li><a href="/html/list1.html">香氛</a></li>
			<li><a href="/html/Re-Nutriv.html">奢宠白金</a></li>
			<li><a href="/html/list.html">AERIN</a></li>
			<li><a href="javascript:;">畅销榜单</a></li>
			<li><a href="javascript:;">独享套装</a></li>
			<li><a href="javascript:;">会员积分</a></li>
			<li><a href="javascript:;">ESTEE STORIES</a></li>
		</ul>
	
	</div>


	<div id="overLay" style="display: none;"></div>
	<div id="loginBox" style="display: none;">
		<div class="bigBox">
			<div id="lrBox">
				<div class="form">
					<form class="login_login" id="_register">
						<h4>加入会员</h4>
						<div class="firstName">
							<input type="text" placeholder="用户名" id="logFirstName"/>
						</div>
						<div class="email">
							<input type="text" placeholder="电子邮箱" id="logEmail"/>
						</div>
						<div class="password">
							<input type="password" placeholder="密码" id="logPasw"/>
							<span id="showPasd"></span><span style="display:none;border: 1px solid #040A2B;background: url(/images/sprites-s192af6b035.png) no-repeat -2px -6723px;" id="cShowPasd"></span>
							<em>显示密码</em>
						</div>
						<div class="phoneNum">
							<input type="text" placeholder="手机" id="logPhone"/>
						</div>
						 <div class="checkBox">
							<label for="" class="checkbox-label1" id="checkbox-label1">
								<span id="read" style="display:none;"></span><span style="border: 1px solid #040A2B;background: url(/images/sprites-s192af6b035.png) no-repeat -2px -6723px;" id="cRead"></span>
								<p>我已阅读和了解雅诗兰黛及本网站的 <a href="javascript:;">条款条件</a>和<a href="#"> 隐私政策</a>，并且同意接受其中所有的条款。</p>
								
							</label>
							<label for="" class="checkbox-label2">
								<span id="disagree"></span><span style="display:none;border: 1px solid #040A2B;background: url(/images/sprites-s192af6b035.png) no-repeat -2px -6723px;" id="cDisagree"></span>
								<p>我不同意雅诗兰黛及所在雅诗兰黛集团向我发送邮件、彩信或致电。</p>
							</label>
						</div>
						<input type="submit" value="提交注册" class="submit logsubmit"/>
						<div class="change">已经注册？<a href="javascript:;" id="loginButton">请登录</a></div>
					</form>
					<form class="regist_login" id="_login">
						<h4>会员登录</h4>
						<div class="email">
							<input type="text" placeholder="手机" id="resPhone"/>
						</div>
						<div class="password">
							<input type="password" placeholder="密码" id="resPassword"/>
						</div>
						<div class="forgetPas">
							<a href="javascript:;">忘记密码</a>
						</div>
						<input type="submit" value="会员登录" class="submit ressubmit"/>
						<div class="change">
							还没有账号？<a href="javascript:;" id="registerBtn">现在注册</a>
						</div>				
					</form>
					<form action=""></form>
					<div class="else"></div>
				</div>
			</div>
		</div>
		<a href="javascript:;" id="closeBtn"></a>
</div>

</div>