<div class="left">
	<ul>
		<li><a href="#"><img src="/images/logo_renutriv_new_2.png"/></a></li>
		
		<li><a href="#"><em>历史</em></a></li>
		<li>系列</li>
		<li><a href="#"><em>奢宠白金蕴能黑钻系列</em></a></li>
		<li><a href="#"><em>奢宠白金花箐萃系列</em></a></li>
		<li><a href="#"><em>奢宠白金紧颜系列</em></a></li>
		<li><a href="#"><em>更多</em></a></li>
		<li>类别</li>
		<li><a href="#"><em>面霜</em></a></li>
		<li><a href="#"><em>眼霜</em></a></li>
		<li><a href="#"><em>修护精华</em></a></li>
		<li><a href="#"><em>面膜/特殊护理</em></a></li>
		<li><a href="#"><em>彩妆</em></a></li>
	</ul>
</div>